<footer class="fixed-bottom" id="footer">
    <div class="footer-bottom">
        <div class="d-flex justify-content-between">
            <div class="col-sm-6">
                <p class="text-primary">
                    &copy; @DateTime.Now.Year OnnoRokomSoftware Ltd. |
                    <a style="text-decoration:none" href="#">Privacy Policy</a> |
                    <a style="text-decoration:none" href="#">Terms & Contidions</a>
                </p>
            </div>
            <div class="col-sm-6">
                <p class="text-end text-primary">Developed by <a style="text-decoration:none" target="_blank" href="http://www.onnorokomsoftware.com/">OnnoRokom Software Ltd.</a></p>
            </div>
        </div>
    </div>
</footer>