@{
    ViewBag.Title = "Confirm Registration";
}

<div class="d-flex justify-content-center">
    <div class="col-lg-5 col-md-7 col-12 col-sm-9">
        <div class="card border-primary mt-2" style="max-width: 30rem;">
            <div class="card-body">
                <p class="text-center">Welcome to OSL Forum</p>
                <p class="text-center">Please check your mailbox to verify your account.</p>
            </div>
        </div>
    </div>
</div>