@model OSL.Forum.Web.Models.Category.CategoryModel
@{
    ViewBag.Title = "Category";
}

<div class="container d-flex justify-content-center mt-2">
    <div class="col-md-9">
        <div class="d-flex justify-content-between">
            <h3 class="text-primary">@Model.Name</h3>
        </div>
        <div class="" style="display:grid; grid-template-columns: repeat(3, 1fr); grid-gap: 1rem;">
            @{
                foreach (var forum in Model.Forums)
                {
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header text-primary">
                            <div class="d-flex justify-content-between">
                                <h5><a style="text-decoration:none;" href="@Url.Action("Forum", "Home", new {Area = "", id = forum.Id })">@forum.Name</a></h5>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>