@model OSL.Forum.Web.Models.Category.AllCategoryModel
@{
    ViewBag.Title = "Home";
}

<div class="container d-flex justify-content-center mt-2">

    <div class="col-md-7" style="display:grid; grid-template-columns: repeat(2, 1fr);">
        @foreach (var category in Model.Categories)
        {
            <div id="categories">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header bg-primary text-white">
                        <div class="d-flex justify-content-between">
                            <h5><a class="text-white" style="text-decoration:none;" href="@Url.Action("Category", "Home", new {Area = "", id = category.Id })">@category.Name</a></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul>
                            @{
                                var i = 0;
                                foreach (var forum in category.Forums)
                                {
                                    <li class="text-primary">
                                        <h6>
                                            <a style="text-decoration:none;" href="@Url.Action("Forum", "Home", new {Area = "", id = forum.Id })">@forum.Name</a>
                                        </h6>
                                    </li>
                                    i++;
                                    if (i == 4)
                                    {
                                        break;
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>