@using Microsoft.AspNet.Identity
@using OSL.Forum.Web.Extensions

@{
    ViewBag.Title = "Me";
}

<div class="d-flex justify-content-center mt-4">
    <div class="card border-primary mb-3" style="max-width: 35rem; min-width:35rem;">
        <div class="card-body">
            <div class="d-flex align-content-between">
                <div>
                    <h4>@User.Identity.GetFullName()</h4>
                    <h5>@User.Identity.Name</h5>
                </div>
                <div style="width:100%" class="d-flex border-primary align-items-center justify-content-end">
                    <p class="mt-2">
                    <a href="#" class="btn btn-primary">Edit</a></p>
                </div>
            </div>
        </div>
    </div>
</div>