@using Microsoft.AspNet.Identity

<div class="flex-shrink-0 p-3 bg-secondary position-fixed" style="width: 250px; min-height: 85vh;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                Categories
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="@Url.Action("Index", "Category", new {Area = "Dashboard" })" class="link-dark rounded">All Categories</a></li>
                    @{
                        if (User.IsInRole("SuperAdmin"))
                        {
                            <li><a href="@Url.Action("CreateCategory", "Category", new {Area = "Dashboard" })" class="link-dark rounded">Create Category</a></li>
                        }
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Pending Posts
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">All Pending Posts</a></li>
                </ul>
            </div>
        </li>
        @{
            if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        User Management
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="@Url.Action("AssignRole", "UserManagement", new {Area = "Dashboard" })" class="link-dark rounded">Assign Role</a></li>
                        </ul>
                    </div>
                </li>
            }
        }
    </ul>
</div>